<% include ./partials/header.ejs %>

<div class="container mx-auto px-4">
    <div class="flex flex-col items-center mb-8">
        <div class="w-full p-8 text-center">
            <h2 class="text-4xl md:text-6xl mt-2 text-black mb-4 font-bold">
                <%= post.caption %>
            </h2>
        </div>
        <div class="w-full flex justify-center my-4">
            <img class="max-w-full object-contain" src='/images/uploads/<%= post.image %>' alt="">
        </div>
        <div class="w-full p-8 text-center">
            <div class="text-base">
                <h5 class="mt-2 text-lg md:text-xl"><%= post.description %></h5>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
